.calculator {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 277px;
  border-radius: 15px;
  padding: 30px;
  background: #64b4bb;
  color: brown;
  font-family: fantasy;

  &-command {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;

    .button {
      border: 1px solid black;
      background: #bfe497;
      border-radius: 10px;
      flex-basis: 30.5%;
      padding: 6px 0;
      margin: 0 1px 10px 0;

      &:hover {
        background: #d8ffac85;
      }
    }
  }
  &-display {
    text-align: right;
    background: grey;
    padding: 8px 10px;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 14px;
    font-family: sans-serif;
    color: #d5d8f6;
  }
  &-buttons {
    display: flex;

    &-numbers {
      display: flex;
      flex-wrap: wrap;

      .button {
        background: #f6fca6;
        width: 32.5%;
        padding: 10px;
        border: 1px solid black;
        margin: 0px 1px 6px 0;
      }
    }
    &-operations {
      flex-basis: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .button {
        background: #bfe497;
        border: 1px solid black;

        padding: 10px;
        &:hover {
          background: #d8ffac85;
        }
      }
    }
  }
}
.zero {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background: #f6fca6;
  align-items: center;
  width: 98%;
  padding: 10px;
  border: 1px solid black;
  &:hover {
    background: #d8ffac85;
  }
}
.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;

  &:hover {
    background: #d8ffac85;
  }
}
