.card-wrapper {
  display: flex;
  width: 95%;
  max-width: 700px;
  min-height: 400px;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  &-left {
    min-width: 233px;
    flex: 1;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-image {
      background: green;
      height: 150px;
      width: 150px;
      margin: 10px;
    }
    &-social-info {
      text-align: left;
      margin-left: 10px;
    }
  }
  &-right {
    min-width: 200px;
    flex: 2;
    background: rgb(217, 255, 0);
  }
}
