#login-container {
  background-color: #ececeb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  //   overflow: hidden;
  width: 400px;
  max-width: 100%;
  margin: 30px auto;

  .header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;

    //this is just while we working on email checker and pasword check//////////////////
    display: flex;
    justify-content: space-between;
    .arrow-button {
      font-size: 13px;
      padding: 5px 10px;
      cursor: pointer;
      text-align: center;
      background-color: #ff9900;
      border: 2px solid #b36b00;
      border-radius: 4px;
      color: #fff;
      display: block;

      &:hover {
        background-color: #ffd493;
        color: brown;
      }
    }

    //all this ////////////////
    h2 {
      margin: 0;
    }
  }

  .form {
    padding: 30px 40px;

    [type="submit"] {
      background-color: #ff9900;
      border: 2px solid #b36b00;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      width: 100%;
    }

    .form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;

      .pasword-strength {
        height: 10px;
        background: grey;
        margin-top: 10px;
      }

      #text {
        display: none;
      }

      small {
        color: #e74c3c;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
      }

      &.error {
        input {
          border-color: #e74c3c;
        }
        i.fa-exclamation-circle {
          color: #e74c3c;
          visibility: visible;
        }
        small {
          visibility: visible;
        }
      }

      &.success {
        input {
          border-color: #2ecc71;
        }
        i.fa-check-circle {
          color: #2ecc71;
          visibility: visible;
        }
      }

      i {
        visibility: hidden;
        position: absolute;
        top: 40px;
        right: 10px;
      }

      label {
        display: inline-block;
        margin-bottom: 5px;
      }

      input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 100%;

        &:focus {
          outline: 0;
          border-color: #777;
        }
      }
    }
  }
}
