#modal-btn {
  background: dodgerblue;
  padding: 10px;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
#modal-btn:hover {
  background-color: #4da6ff;
}
#modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  margin: 20px auto;
  width: 50%;
  animation: openModal 2s;
  text-align: justify;
}
.modal-header,
.modal-footer {
  padding: 10px;
  color: #e91e63ff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 25px;
}
#close {
  cursor: pointer;

  padding: 5px;
}
#close:hover {
  color: #4da6ff;
}
.modal-body {
  padding: 1px 10px;
  background-color: #fff;
  border-radius: 25px;
}
.modal-footer {
  padding: 7px;
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 95%;
  }
}
