#modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .modal-content {
    margin: 20px auto 40px;
    max-width: 800px;
    width: 95%;
    animation: openModal 2s;
    text-align: justify;

    .modal-body {
      padding: 1px 10px;
      background-color: #fff;
      border-radius: 25px;

      .modal-header,
      .modal-footer {
        color: #e91e63ff;
        text-align: center;
      }

      .text {
        font-family: "Domine", sans-serif;
        font-size: 20px;

        padding: 0 20px;
      }

      .modal-footer {
        padding: 7px;
        margin-top: 20px;
        position: relative;
        p {
          transition: s all;
          font-size: 20px;
        }
        p:hover {
          color: rgb(159, 30, 233);
        }
      }
    }
  }
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
