#nav ul {
	list-style:none;
	margin:0;
    padding:0;
    display: flex;
}
#nav ul li {
	// float:left;
}
#nav ul li a {
	display:block;
	padding:44px 20px 36px;
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:1px;
}
#nav ul li a:link,
#nav ul li a:visited {
	color:#696969;
	text-decoration:none;
	border-bottom:4px solid #FFF; 
	transition:0.2s all ease;
}
#nav ul li a:hover {
	color:#e84e1b;
	border-bottom:4px solid #e84e1b; 
	background:#F5F2F1;
}
