@import "nav";
@import "contactCard";
@import "todos";
@import "main";
@import "modal";
@import "folderTree";
@import "loginscreen";
@import "frame";
@import url("//fonts.googleapis.com/css?family=Domine");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");
* {
  box-sizing: border-box;
}

body {
  // background-color: #ffb84d;
  font-family: "Open Sans", sans-serif;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // min-height: 100vh;
  margin: 0;
}
